<nav role="navigation" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="http://pldh.net/media/pokemon/gen5/blackwhite_animated_shiny/470.gif" class="navbar-image img-responsive"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="/quoridor" style="font-size:22px">Quoridor</a></li>
            </ul>
        </div>
    </div>
</nav>