<div class="center-wrapper-parent" style="width: 100%; display: table;">
    <div style="display: table-row">
        <div style="display: table-cell">
            <div><canvas id="title-text"></canvas></div>
            <div><canvas id="top-notation"></canvas></div>
            <div style="width:550px; height:450px">
                <canvas id="left-notation"></canvas>
                <canvas id="quoridor-board">Use a browser that supports HTML5 Canvas.</canvas>
                <input type="button" id="btn_undo" value="Undo"/>
            </div>
            <div><canvas id="bot-notation"></canvas></div>
            <div><canvas id="game-text"></canvas></div>
        </div>
        <div style="display: table-cell" class="pull-right">
            <div id="selectRed" class="btn btn-danger selector red-border">
                Click here to join Red
            </div>
            <div id="selectBlue" class="btn btn-primary selector blue-border">
                Click here to join Blue
            </div>
        </div>
    </div>
</div>