<div class="center-wrapper-parent container-fluid">
    <canvas id="title-text"></canvas>
    <div class="canvas-wrapper">
        <!--<canvas id ="quoridor-grid" style = "z-index: 1; position:absolute; top:0px; top:0px">This text is displayed if your browser does not support HTML5 Canvas.</canvas>-->
        <canvas id="left-notation"></canvas>
        <canvas id="quoridor-board">Use a browser that supports HTML5 Canvas.</canvas>
    </div>
    <canvas id="bot-notation"></canvas>
    <div><canvas id="game-text"></canvas></div>
</div>