html, body {
    height: 100%;
}

.navbar-brand {
    overflow: visible;
    padding-top: 1px;
    padding-bottom: 1px;
}

.navbar-image {
    max-height: 40px;
}

.col-max {
    max-width: 200px;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.column-wrap {
    overflow: hidden;
}

.col-equal-height {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.content {
    height: 85%;
}

.content-panel {
    height: 100%;
}

.panel-body {
    min-height: 200px;
    height: 80%;
    position: relative;
}

.chat-scroll {
    overflow: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.selector {
    border: 2px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

.red-border {
    border-color: red;
    background: #ff9999;
}

.blue-border {
    border-color: dodgerblue;
    background: #9999ff;
}